.DS_Store
client/.DS_Store
client/node_modules
.DS_Store
src/.DS_Store
src/components/.DS_Store
*DS_Store
node_modules
/.idea/
node_modules
dist
eslint
Thumbs.db
.gradle
build/
target/
out/
*.iml
*.ipr
*.iws
.project
.settings
.classpath